html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttons__wrapper {
    width: 500px;
    margin: 16px auto;
    
}

.d-flex {
    
    display: flex;
    gap: 12px;
}

.btn {
    padding: 8px 12px;
    
    border-radius: 8px;
    border: 0;
    color: white;
}

.btn-small{
    padding: 4px 8px;
    border-radius: 8px;
}

.btn-outline{
    background-color: transparent;
    color: slategray;
    border: 1px solid slategray;
    border-radius: 8px;

    
}

.btn-primary{
    background-color: #1652F0;
}

.btn-outline-primary {
   border: 1px solid blue;
   color: blue;
}

.btn-sucess{
    background-color: #14cf3c ;
}

.btn-outline-sucess{
    border: 1px solid #14cf3c ;
   color:#14cf3c ;

}

.btn-danger{
    background-color: #dbac2b ;
}

.btn-outline-danger{
    border: 1px solid #dbac2b ;
   color:#dbac2b ;

}

.btn-warning{
    background-color: red;
}

.btn-outline-warning{
    border: 1px solid red ;
   color:red ;

}
