@import  'colors';
@import 'media-queries';

.navbar {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    height: 64px;
    padding:30px 2%;
    
    
    &__menu{
        margin-right: auto;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        gap: 16px;
        &--links {
              @include mobile{
                display: none;
            }
           gap: 6px;
            display: flex;
            align-items: center;
           color:$black;
           &:hover{
               color: $blue;
               transition: all 0.2s ease;
           }
        }
        
    }

    &__btn{ /* nao esta a dar */
        border-radius: 4px;   
        font-size: 14px;
        padding: 8px 16px;
        border: none;
        outline: none;
        background: transparent;
        border-radius: 2px;
        
        &--active {
            display: inline;
            bottom: 0;
                right: 40%;
                height: 30px;
                width: 100px;
                background-color: black;
                border: none;
                color: white;
                }
            
        &--inactive{
            display: inline;
                bottom: 0;
                right: 40%;
                background-color: transparent;
                height: 30px;
                width: 100px;
                border: none;
                color: black;}
 
&__logo{
    margin-right: 3rem;
}
       }       
        
}   

 


    


