@import 'colors';

.start{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    padding: 0 25px 0 25px;

    &--text{
        font-weight: 400;
        font-size: 36px;
        color: white;
    }

    &--btn{
        width: 108px;
        height: 33px;

        color: $blue;

        border: 2px solid $blue;
    }
}
