@import 'colors';

.container{
    
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey;
   
    &__img{
        
        height: 350px;
        width: 650px;

    }

    &__title{
        color: black;
       font-weight: 400;
        font-size: 40px;
        margin-top: 30px;
        padding: 10px;
    }

    &__text{
        display: flex;
        justify-content: center;
        padding: 20px ;
        height: 50%;
        width: 50%;

    }

}